* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
}

body {
    background: #fdf7f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ED760E;
}

input,
select {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

input:focus {
    border-color: #ED760E;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #ED760E;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #cc5e05;
}

#toggle-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

#toggle-link {
    color: #ED760E;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
