.menubar {
    display: none;
}

@media (max-width: 50em) {
    .nav-left {
        display: none;
    }

    .mobnav {
        left: 2vw;
        top: 15vw;
    }

    .mobnav a {
        text-decoration: none;
        color: #ED760E;
    }

    .menubar {
        display: block;
        width: 4vw;
    }

    .logo {
        width: 10vw;
    }

    .user-detail p {
        font-size: 5vw;
        font-weight: 600;
    }

    .parking-lot .lot {
        display: flex;
    }

    .parking-lot .top .car .car-img {
        transform: rotate(90deg);
    }

    .parking-lot .bottom .car .car-img {
        transform: rotate(270deg);
    }

    .parking-lot .car .car-img {
        width: 30vw;
    }

    .lot .parking-spot {
        height: 35vw;
    }
}
