.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #ED760E;
    padding: 0.75rem 1.5rem;
    font-family: sans-serif;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1.4vw;
}

.logo {
    width: 4vw;
    height: auto;
}

.nav-left a,
.nav-right a {
    color: #ED760E;
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
}

.nav-left a:hover,
.nav-right a:hover {
    text-decoration: underline;
}

.nav-right {
    margin-left: auto;
    width: fit-content;
    position: relative;
}

.user-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 48px;
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: fit-content;
}

.dropdown a,
.dropdown button {
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}

.dropdown a:hover,
.dropdown button:hover {
    background-color: #f2f2f2;
}
